<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %></script>
<% end %>

<script type="text/javascript">
  window.images = {
    crux_logo: "<%= image_url('crux_logo.svg') %>",
    downArrow: "<%= image_url('downArrowBlack.svg') %>",
    photoTemplate: "<%= image_url('photo_placeholder.jpg') %>",
    linkedin_logo: "<%= image_url('linkedin_logo.png') %>",
    github_logo: "<%= image_url('github_logo.png') %>",
    angellist_logo: "<%= image_url('angellist-brands.svg') %>",
    portfolio_logo: "<%= image_url('briefcase-solid.svg') %>",
    slideshow: {
      img_1: "<%= image_url('slideshow/climbing-1761386_1280.jpg') %>",
      img_2: "<%= image_url('slideshow/climbing-colors-daylight-1574216.jpg') %>",
      img_3: "<%= image_url('slideshow/free-climbing-4196577_1920.jpg') %>",
      img_4: "<%= image_url('slideshow/rock-climbing-2420708_1280.jpg') %>",
      img_5: "<%= image_url('slideshow/saxon-switzerland-539418_1280.jpg') %>",
    }
  }
</script>

<main id="root"><marquee>REACT IS NOT WORKING!</marquee></main>
